.menu {
  background-color: #fff;
}
.contener {
  margin-top: 50px;

  -webkit-box-shadow: 0px 5px 15px #ababab;
  -moz-box-shadow: 0px 5px 15px #ababab;
  box-shadow: 0px 5px 15px #ababab;
}

.title {
  font-size: 82px;
  font-weight: 200;
  margin-top: 80px;
  color: #151515;
  font-family: "Lato", sans-serif;
}
.sub {
  font-weight: 400;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

.texto {
  font-weight: 400;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.punto {
  font-size: 12px;
}

.efecto-glitch {
  background: url(../images/img1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  /*Propiedad Animacion CSS*/
  -webkit-animation:
    /*Dos grupos de animaciones*/ glitch 7s cubic-bezier(0.5, 0.2, 0.3, 1) infinite, glitchMotion 7s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
  animation:
    /*Dos grupos de animaciones*/ glitch 7s cubic-bezier(0.5, 0.2, 0.3, 1) infinite, glitchMotion 7s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
}
.efecto-glitch img {
  /*la imagen oculta es la que otorga una altura proporcional al div*/
  width: 100%;
  height: auto;
  vertical-align: middle;
  opacity: 0;
}
@-webkit-keyframes glitch {
  /*Nosotros especificamos el intervalo de tiempo en el que queremos que las imagenes de fondo cambien.*/

  0% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }
  1.5% {
    background: url(../images/img7.jpg) no-repeat;
    background-size: contain;
  }
  1.6% {
    background: url(../images/img4.jpg) no-repeat;
    background-size: contain;
  }
  1.7% {
    background: url(../images/img6.jpg) no-repeat;
    background-size: contain;
  }
  1.8% {
    background: url(../images/img3.jpg) no-repeat;
    background-size: contain;
  }
  1.9% {
    background: url(../images/img7.jpg) no-repeat;
    background-size: contain;
  }
  2% {
    background: url(../images/img4.jpg) no-repeat;
    background-size: contain;
  }
  2.3% {
    background: url(../images/img6.jpg) no-repeat;
    background-size: contain;
  }
  2.5% {
    background: url(../images/img7.jpg) no-repeat;
    background-size: contain;
  }
  3% {
    background: url(../images/img3.jpg) no-repeat;
    background-size: contain;
  }
  5% {
    background: url(../images/img5.jpg) no-repeat;
    background-size: contain;
  }

  7.6% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }
  7.7% {
    background: url(../images/img7.jpg) no-repeat;
    background-size: contain;
  }
  7.8% {
    background: url(../images/img3.jpg) no-repeat;
    background-size: contain;
  }
  7.9% {
    background: url(../images/img4.jpg) no-repeat;
    background-size: contain;
  }
  8% {
    background: url(../images/img7.jpg) no-repeat;
    background-size: contain;
  }
  8.3% {
    background: url(../images/img5.jpg) no-repeat;
    background-size: contain;
  }
  8.5% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }

  14.9% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }
  15.5% {
    background: url(../images/img7.jpg) no-repeat;
    background-size: contain;
  }
  15.7% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }

  40.9% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }
  41.5% {
    background: url(../images/img4.jpg) no-repeat;
    background-size: contain;
  }
  42% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }

  70.9% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }
  71.5% {
    background: url(../images/img6.jpg) no-repeat;
    background-size: contain;
  }
  71.8% {
    background: url(../images/img7.jpg) no-repeat;
    background-size: contain;
  }
  72% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }
}
@keyframes glitch {
  /*Nosotros especificamos el intervalo de tiempo en el que queremos que las imagenes de fondo cambien.*/

  0% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }
  1.5% {
    background: url(../images/img7.jpg) no-repeat;
    background-size: contain;
  }
  1.6% {
    background: url(../images/img4.jpg) no-repeat;
    background-size: contain;
  }
  1.7% {
    background: url(../images/img6.jpg) no-repeat;
    background-size: contain;
  }
  1.8% {
    background: url(../images/img3.jpg) no-repeat;
    background-size: contain;
  }
  1.9% {
    background: url(../images/img7.jpg) no-repeat;
    background-size: contain;
  }
  2% {
    background: url(../images/img4.jpg) no-repeat;
    background-size: contain;
  }
  2.3% {
    background: url(../images/img6.jpg) no-repeat;
    background-size: contain;
  }
  2.5% {
    background: url(../images/img7.jpg) no-repeat;
    background-size: contain;
  }
  3% {
    background: url(../images/img3.jpg) no-repeat;
    background-size: contain;
  }
  5% {
    background: url(../images/img5.jpg) no-repeat;
    background-size: contain;
  }

  7.6% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }
  7.7% {
    background: url(../images/img7.jpg) no-repeat;
    background-size: contain;
  }
  7.8% {
    background: url(../images/img3.jpg) no-repeat;
    background-size: contain;
  }
  7.9% {
    background: url(../images/img4.jpg) no-repeat;
    background-size: contain;
  }
  8% {
    background: url(../images/img7.jpg) no-repeat;
    background-size: contain;
  }
  8.3% {
    background: url(../images/img5.jpg) no-repeat;
    background-size: contain;
  }
  8.5% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }

  14.9% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }
  15.5% {
    background: url(../images/img7.jpg) no-repeat;
    background-size: contain;
  }
  15.7% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }

  40.9% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }
  41.5% {
    background: url(../images/img4.jpg) no-repeat;
    background-size: contain;
  }
  42% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }

  70.9% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }
  71.5% {
    background: url(../images/img6.jpg) no-repeat;
    background-size: contain;
  }
  71.8% {
    background: url(../images/img7.jpg) no-repeat;
    background-size: contain;
  }
  72% {
    background: url(../images/img1.jpg) no-repeat;
    background-size: contain;
  }
}
@-webkit-keyframes glitchMotion {
  /*Una segunda animacion para crear el efecto de movimiento, tambien puede ir dentro de la primera animacion pero preferi hacerlas por separado*/

  7% {
    transform: translateX(0);
  }
  7.5% {
    transform: translateX(0) translateY(5px);
  }
  7.9% {
    transform: translateX(0) translateY(0);
  }

  40% {
    transform: translateX(0);
  }
  40.5% {
    transform: translateX(-12px) translateY(0);
  }
  40.9% {
    transform: translateX(0) translateY(0);
  }

  70% {
    transform: translateX(0);
  }
  70.5% {
    transform: translateX(5px) translateY(0);
  }
  70.9% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes glitchMotion {
  /*Una segunda animacion para crear el efecto de movimiento, tambien puede ir dentro de la primera animacion pero preferi hacerlas por separado*/

  7% {
    transform: translateX(0);
  }
  7.5% {
    transform: translateX(0) translateY(5px);
  }
  7.9% {
    transform: translateX(0) translateY(0);
  }

  40% {
    transform: translateX(0);
  }
  40.5% {
    transform: translateX(-12px) translateY(0);
  }
  40.9% {
    transform: translateX(0) translateY(0);
  }

  70% {
    transform: translateX(0);
  }
  70.5% {
    transform: translateX(5px) translateY(0);
  }
  70.9% {
    transform: translateX(0) translateY(0);
  }
}
