.box{
	transition: ease-in-out 6s;
	background-position: top;
	margin-left: 15px;
}
.box1{
	
	background: url(../images/webs/6.jpg);
	background-size: cover;
}
.box2{
	background: url(../images/webs/5.jpg);
	background-size: cover;
}
.box3{
	background: url(../images/webs/7.jpg);
	background-size: cover;
}
.box4{
	background: url(../images/webs/diagonal.png);
	background-size: cover;
}

.box5{
	background: url(../images/webs/charcasxyz.png);
	background-size: cover;
}
.boxbrexy{
	background: url(../images/webs/brexy.png);
	background-size: cover;
}
.boxayuntamiento{
	background: url(../images/webs/ayuntamiento.png);
	background-size: cover;
}
.boxdifdoctormora{
	background: url(../images/webs/difdoctormora.png);
	background-size: cover;
}
.boxdyxerteam{
	background: url(../images/webs/dyxerteam.png);
	background-size: cover;
}
.boxlosduraznos{
	background: url(../images/webs/losduraznos.png);
	background-size: cover;
}
.box:hover{
	background-position: bottom;
}

